.THIS .totalAmount{
    margin-left: 15% !important;
}

/*.THIS .slds-table_tree .slds-tree__item a{
    font-weight:bolder !important;
}*/

/*.THIS .slds-table_tree .slds-tree__item a{
    color:black !important;
}*/